/*mohamed mahfouz*/
:root {
    --bg-color: #0b0b0b;
    --header-bg: rgba(0, 0, 0, 0.9);
    --accent-color: #d4af37; /* ذهبي */
    --text-primary: #ffffff;
    --text-secondary: #888888;
    --border-color: #333333;
}

[data-theme="light"] {
    --bg-color: #f4f4f4;
    --header-bg: #ffffff;
    --accent-color: #005f73; 
    --text-primary: #222222;
    --text-secondary: #555555;
    --border-color: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ; 
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease; 
}

header {
    background-color: var(--header-bg);
    padding: 20px 0;
    border-bottom: 2px solid var(--accent-color);
    text-align: center;
    transition: background-color 0.4s;
}

header h1 {
    color: var(--accent-color);
    letter-spacing: 5px;
    font-size: 24px;
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-primary);
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--accent-color);
    font-size: 18px;
}

.foot1 {
    background-color: var(--header-bg);
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--accent-color);
    font-size: 12px;
    color: var(--text-secondary);
    margin-top: 50px; 
}

        #theme-btn {
            background: var(--accent-color);
            color: white;
            border: none;
            padding: 8px 15px;
            border-radius: 20px;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 10px;
            transition: 0.3s;
        }

        .content-section, #welcome\ text, #audio {
            background: var(--overlay-color);
            backdrop-filter: blur(10px);
            border: 1px solid var(--accent-color);
            border-radius: 15px;
            padding: 40px;
            margin: 40px auto;
            width: 70%;
            text-align: center;
            color: var(--accent-color);
        }

        input, select {
            background: var(--input-bg);
            border: 1px solid #ccc;
            color: var(--accent-color);
            padding: 12px;
            margin: 10px;
            border-radius: 5px;
            width: 250px;
             border-color: var(--accent-color);
        }

        .btn-luxury {
            background-color: var(--accent-color);
            color: #fff;
            border: none;
            padding: 12px 30px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.4s;
            border-radius: 5px;
        }

        .btn-luxury:hover { transform: translateY(-2px); filter: brightness(1.2); }

/* end of my css code */        